<!-- Sección Nosotros -->
 <br>
<div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <img src="../../../assets/images/equipo.jpg" class="img-fluid" alt="Nosotros">
      </div>
      <div class="col-lg-8 col-md-12">
        <h2>Nosotros</h2>
        <p>
          Somos una comunidad apasionada por los juegos de mesa y cartas. Nuestra misión es brindar momentos de diversión y aprendizaje a través de juegos clásicos y modernos. 
          Nos enfocamos en ofrecer una experiencia de juego inclusiva y accesible para todos, desde principiantes hasta jugadores avanzados.
          <br><br>
          En nuestra comunidad, organizamos eventos, torneos y reuniones regulares para que los entusiastas de los juegos de mesa puedan conectarse, compartir estrategias y disfrutar juntos.
          Además, proporcionamos recursos educativos y reseñas detalladas de juegos para ayudar a los jugadores a mejorar sus habilidades y descubrir nuevas aventuras lúdicas.
          <br><br>
          ¡Únete a nosotros y forma parte de esta vibrante comunidad de jugadores!
        </p>
      </div>
    </div>
  </div>
  