<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                    <img src="../../../assets/images/ico.png" alt="El Kaiser" width="30" height="24">
                    El Kaiser</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Productos</a>
                </li>
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categorías
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="categoriasDropdown">
                        <li><a class="dropdown-item" href="juegos-de-dados.html">Juegos de Dados</a></li>
                        <li><a class="dropdown-item" href="juegos-de-fichas.html">Juegos de Fichas</a></li>
                        <li><a class="dropdown-item" href="juegos-de-cartas.html">Juegos de Cartas</a></li>
                        <li><a class="dropdown-item" href="rompecabezas.html">Rompecabezas</a></li>
                    </ul>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link" href="/register">Registro</a>
                    </li>
            </ul>
            </div>
        </div>
    </nav>
</header>
